$color-default: #FFFFFF;
$dark: #000000;

$shadow: 0 7px -5px 0px rgba(150, 170, 180, 0.5);
$color-bg: #0f172a;

// Card Colors
$color-card: #21409A;
$card2: #C2E0AE;
$card3: #00AAAD;
$card4: #006C3B;
$card5: #FFF685;
$card6: #ED1C24;
$card7: #00B274;
$card8: #FCD4D1;
$card9: #D4711A;
$card10: #72BF44;
$card11: #0066B3;
$card12: #62A73B;
$card13: #1C1C1C;