@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@media print {
  #no-print {
    display: none;
  }
}
.endparent {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.endparent .buttons, .endparent .returnButton {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.tables {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.demo {
  padding: 0;
  border-collapse: collapse;
  font-family: Roboto, Arial, sans-serif;
}

.demo th {
  border: 1px inset #000000;
  padding: 4px;
  background: #F0F0F0;
}

.demo td {
  border: 1px inset #000000;
  padding: 5px;
}

.label {
  color: black !important;
}

.headerPdf {
  flex-direction: column;
  display: flex;
  height: auto;
  background-color: #cbd5e1;
  color: black;
  border-bottom: 2px solid #000000;
  text-align: justify;
  margin-bottom: 7rem;
}
.headerPdf .title, .headerPdf .subtitle {
  padding-right: 2px;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
}
.headerPdf .title h2, .headerPdf .subtitle h2 {
  color: #374151;
  margin-right: 5px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../img/backgroundImage.jpg);
  margin: auto;
  background-repeat: no-repeat;
  font-family: "Rubik", sans-serif;
  overflow: auto;
}

main {
  align-self: center;
  display: flex;
  justify-content: center;
  height: 90vh;
}

textarea {
  padding: 5px;
  border-radius: 9px;
  resize: none;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 13px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
}

form,
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.buttons, .returnButton {
  display: flex;
  flex-direction: row;
}

.logoutButton,
.pdfButton {
  display: flex;
  padding-right: 25px;
}
.logoutButton p,
.logoutButton a,
.pdfButton p,
.pdfButton a {
  color: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  padding: 7px;
  text-align: center;
  width: 100%;
  background-color: #1C1C1C;
}
.logoutButton p:hover,
.logoutButton a:hover,
.pdfButton p:hover,
.pdfButton a:hover {
  color: #ED1C24;
}

.returnButton {
  display: flex;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
}

.buttonsFormsExit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.buttonsFormsExit .buttonForm,
.buttonsFormsExit a {
  border: none;
  color: #000000;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 5px;
  text-decoration: none;
  padding: 7px;
  text-align: center;
  background-color: #FFFFFF;
}
.buttonsFormsExit .buttonForm:hover,
.buttonsFormsExit a:hover {
  color: #FFFFFF;
  background-color: #21409A;
  transition: 250ms linear;
}

.buttons-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttons-login .btn-login, .buttons-login .btn-register {
  align-items: center;
  background: #0066B3;
  border-radius: 3px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding: 15px 45px;
  transition: 0.2s;
}
.buttons-login .btn-login:hover, .buttons-login .btn-register:hover {
  background: #2036de;
  transform: translateY(-2px);
}
.buttons-login .btn-login .fas.fa-arrow-right, .buttons-login .btn-register .fas.fa-arrow-right {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 0 10px;
}
.buttons-login .btn-register {
  background-color: #1C1C1C;
}
.buttons-login .btn-register a,
.buttons-login .btn-register p {
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.buttons-login .btn-register:hover {
  background: #555;
}

.modal .btn-login, .modal .buttons-login .btn-register, .buttons-login .modal .btn-register {
  align-items: center;
  background: #0066B3;
  border-radius: 3px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding: 15px 45px;
  transition: 0.2s;
}
.modal .btn-login:hover, .modal .buttons-login .btn-register:hover, .buttons-login .modal .btn-register:hover {
  background: #2036de;
  transform: translateY(-2px);
}
.modal .btn-login .fas.fa-arrow-right, .modal .buttons-login .btn-register .fas.fa-arrow-right, .buttons-login .modal .btn-register .fas.fa-arrow-right {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 0 10px;
}

.navback {
  justify-content: flex-start;
  justify-content: space-between;
  display: flex;
  background-image: linear-gradient(148deg, rgb(147, 161, 231) 0%, rgb(50, 100, 147) 50%, rgb(186, 186, 186) 100%);
  width: 100%;
  height: 100%;
  border-bottom: 20px;
  align-items: center;
}

.userinfo {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#usertext {
  display: flex;
  align-items: center;
  justify-content: center;
}

#usericon img {
  width: 50px;
  height: 50px;
  padding: 3px;
  justify-content: center;
}

.containerLogin {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  max-width: 1200px;
  width: 100%;
}
@media (max-width: 768px) {
  .containerLogin {
    flex-wrap: wrap;
  }
}

.loginTitle, .loginTitle_register {
  color: #2f2f2f;
  font-size: 40px;
}
.loginTitle_register {
  color: #FFFFFF;
}

.headerLoginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register,
.login {
  border-radius: 5px;
  box-shadow: 0 7px -5px 0px rgba(150, 170, 180, 0.5);
  height: auto;
  max-width: 400px;
  padding: 40px 15px;
  text-align: center;
  width: 100%;
}
.register h4,
.login h4 {
  font-weight: lighter;
}
.register .fas,
.login .fas {
  color: #0066B3;
  font-size: 35px;
  margin-bottom: 5px;
}
.register .create-account,
.login .create-account {
  border-top: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-top: 30px;
}
.register .create-account strong,
.login .create-account strong {
  font-size: 16px;
  margin-left: 5px;
  text-decoration: underline;
}

.register,
.login {
  background: #FFFFFF;
}
.register .form,
.login .form {
  margin-top: 30px;
  padding: 0 0px;
}
.register .form .form-row,
.login .form .form-row {
  position: relative;
  text-align: left;
}
.register .form .form-row .fas,
.login .form .form-row .fas {
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 30px;
}
.register .form .form-row.bottom,
.login .form .form-row.bottom {
  display: flex;
  justify-content: space-between;
}
.register .form .form-row.bottom .forgot,
.login .form .form-row.bottom .forgot {
  color: #0066B3;
}
.register .form .form-row.button-login,
.login .form .form-row.button-login {
  margin-top: 50px;
}
.register .form .form-row.button-login .fas,
.login .form .form-row.button-login .fas {
  position: static;
}
.register .form .form-row .form-check input[type=checkbox] + label,
.login .form .form-row .form-check input[type=checkbox] + label {
  color: #555;
  cursor: pointer;
  display: block;
}
.register .form .form-row .form-check input[type=checkbox],
.login .form .form-row .form-check input[type=checkbox] {
  display: none;
}
.register .form .form-row .form-check input[type=checkbox] + label:before,
.login .form .form-row .form-check input[type=checkbox] + label:before {
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  color: transparent;
  display: inline-block;
  height: 15px;
  content: "✔";
  margin-right: 5px;
  transition: 0.2s;
  vertical-align: bottom;
  width: 15px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
}
.register .form .form-row .form-check input[type=checkbox] + label:active:before,
.login .form .form-row .form-check input[type=checkbox] + label:active:before {
  transform: scale(1.1);
}
.register .form .form-row .form-check input[type=checkbox]:checked + label:before,
.login .form .form-row .form-check input[type=checkbox]:checked + label:before {
  background-color: #0066B3;
  border-color: #0066B3;
  color: #FFFFFF;
}
.register .form .form-label,
.login .form .form-label {
  color: #555;
  font-size: 12px;
}
.register .form-password,
.register .form-text,
.login .form-password,
.login .form-text {
  border-radius: 2px;
  border: 0;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 40px 0 10px;
  width: 100%;
  background: #f1f1f1 no-repeat;
  transition: 100ms all linear 0s;
  background-image: linear-gradient(148deg, rgb(147, 161, 231) 0%, rgb(50, 100, 147) 50%, rgb(186, 186, 186) 100%);
  background-size: 0 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.register .form-password:focus,
.register .form-text:focus,
.login .form-password:focus,
.login .form-text:focus {
  background-size: 100% 2px, 100% 1px;
  outline: none;
}

.register {
  transform: scale(1.01);
  background-image: linear-gradient(148deg, rgb(147, 161, 231) 0%, rgb(50, 100, 147) 50%, rgb(186, 186, 186) 100%);
}
.register .fas,
.register strong {
  color: #FFFFFF;
}
.register .form .form-label {
  color: #FFFFFF;
}
.register .form .form-row .fas {
  color: #0066B3;
}
.register .form .form-row .button-login {
  margin-top: 20px;
}
.register .btn-login, .register .buttons-login .btn-register, .buttons-login .register .btn-register {
  background: #FFFFFF;
  color: #555;
}
.register .btn-login .fas.fa-arrow-right, .register .buttons-login .btn-register .fas.fa-arrow-right, .buttons-login .register .btn-register .fas.fa-arrow-right {
  color: #555;
}
.register .btn-login:hover, .register .buttons-login .btn-register:hover, .buttons-login .register .btn-register:hover {
  background: #d5d7de;
}
.register .create-account {
  color: #FFFFFF;
}

.container_g {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 92%;
  width: 100%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.container_md, .container_mdf {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  color: #FFFFFF;
  width: 50%;
  height: 61%;
  margin-left: auto;
  margin-right: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container_mdf {
  box-shadow: 0px 3px 8px 11px rgba(0, 0, 0, 0.29);
  width: 50%;
  height: 70%;
  margin-left: 0%;
  margin-right: 0%;
}

.box_md {
  height: -moz-fit-content;
  height: fit-content;
  gap: 30px;
  justify-content: space-between;
  text-align: justify;
  flex-direction: column;
  display: flex;
  align-items: center;
}

#text {
  height: 30%;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#user-info {
  display: flex;
}

#subtitle_text {
  width: 80%;
}

#letter_count {
  color: #FFFFFF;
  padding: 5px;
  align-self: flex-end;
  font-size: 9px;
  height: 9px;
}

.card_side_right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(77, 92, 107, 0.3) 100%);
}

.card_text {
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card_side_left, .card_side_left_gray, .card_side_left_lawngreen, .card_side_left_lightblue, .card_side_left_jade, .card_side_left_orange, .card_side_left_rose, .card_side_left_emerald, .card_side_left_red, .card_side_left_yellow, .card_side_left_olive, .card_side_left_aquamarine, .card_side_left_green, .card_side_left_blue {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  height: 100%;
  width: 50%;
  background-color: #FFFFFF;
}
.card_side_left_blue {
  background-color: #21409A;
}
.card_side_left_green {
  background-color: #C2E0AE;
  color: #000000;
}
.card_side_left_aquamarine {
  background-color: #00AAAD;
}
.card_side_left_olive {
  background-color: #006C3B;
}
.card_side_left_yellow {
  background-color: #FFF685;
  color: #000000;
}
.card_side_left_red {
  background-color: #ED1C24;
}
.card_side_left_emerald {
  background-color: #00B274;
}
.card_side_left_rose {
  background-color: #FCD4D1;
  color: #000000;
}
.card_side_left_orange {
  background-color: #D4711A;
}
.card_side_left_jade {
  background-color: #72BF44;
}
.card_side_left_lightblue {
  background-color: #0066B3;
}
.card_side_left_lawngreen {
  background-color: #62A73B;
}
.card_side_left_gray {
  background-color: #1C1C1C;
}

.box-user {
  border-radius: 5px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cont-model {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardside {
  display: flex;
  flex-direction: row;
}

.models {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cardmodel {
  width: 300px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.model {
  padding: 20px;
}

.input {
  border-radius: 9px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 50%;
  margin: auto;
  margin-bottom: 0px;
}

.colorBG {
  background: rgb(43, 47, 119);
  background: linear-gradient(135deg, rgb(43, 47, 119) 0%, rgb(20, 24, 82) 50%, rgb(7, 11, 52) 100%);
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.card, .card_gray, .card_lawngreen, .card_lightblue, .card_jade, .card_orange, .card_rose, .card_emerald, .card_red, .card_yellow, .card_olive, .card_aquamarine, .card_green {
  justify-content: space-evenly;
  cursor: pointer;
  width: 15rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 20px;
  background-color: #21409A;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.card #cardTitle, .card_gray #cardTitle, .card_lawngreen #cardTitle, .card_lightblue #cardTitle, .card_jade #cardTitle, .card_orange #cardTitle, .card_rose #cardTitle, .card_emerald #cardTitle, .card_red #cardTitle, .card_yellow #cardTitle, .card_olive #cardTitle, .card_aquamarine #cardTitle, .card_green #cardTitle {
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.card #cardSubtitle, .card_gray #cardSubtitle, .card_lawngreen #cardSubtitle, .card_lightblue #cardSubtitle, .card_jade #cardSubtitle, .card_orange #cardSubtitle, .card_rose #cardSubtitle, .card_emerald #cardSubtitle, .card_red #cardSubtitle, .card_yellow #cardSubtitle, .card_olive #cardSubtitle, .card_aquamarine #cardSubtitle, .card_green #cardSubtitle {
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.card_green {
  background-color: #C2E0AE;
  color: #000000;
}
.card_aquamarine {
  background-color: #00AAAD;
}
.card_olive {
  background-color: #006C3B;
}
.card_yellow {
  background-color: #FFF685;
  color: #000000;
}
.card_red {
  background-color: #ED1C24;
}
.card_emerald {
  background-color: #00B274;
}
.card_rose {
  background-color: #FCD4D1;
  color: #000000;
}
.card_orange {
  background-color: #D4711A;
}
.card_jade {
  background-color: #72BF44;
}
.card_lightblue {
  justify-content: space-around;
  background-color: #0066B3;
}
.card_lawngreen {
  background-color: #62A73B;
}
.card_gray {
  background-color: #1C1C1C;
}
.card .mt, .card_green .mt, .card_aquamarine .mt, .card_olive .mt, .card_yellow .mt, .card_red .mt, .card_emerald .mt, .card_rose .mt, .card_orange .mt, .card_jade .mt, .card_lightblue .mt, .card_lawngreen .mt, .card_gray .mt {
  margin-top: 28px;
}
.card .mb, .card_green .mb, .card_aquamarine .mb, .card_olive .mb, .card_yellow .mb, .card_red .mb, .card_emerald .mb, .card_rose .mb, .card_orange .mb, .card_jade .mb, .card_lightblue .mb, .card_lawngreen .mb, .card_gray .mb {
  margin-bottom: 28px;
}

.cardBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardBottom .card_gray {
  height: 117px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.wave {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 5em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}/*# sourceMappingURL=main.css.map */